<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="header_container">
          <h1 class="logo"></h1>
          <img src="img\wccimg.png" width="140" height="50">
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="student_login\student_login.html">Student Login</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <br>
      <img src="img\main.png" width="100%">
      <h1 style="color: crimson;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"> <br><center> Few words about WCC</center></h1><br>
    <center> 
     <span style="font-size:larger;font-weight:bolder;font-synthesis: style;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        Women’s Christian College was founded in 1915 with 41 students and 7 faculty members, as a result of the joint venture of 12 missionary societies of interdenominational and international nature located in England, 
          in Canada and in U.S.A., with a mission to provide higher education to women of India in liberal arts and sciences.It was affiliated to the University of Madras and was given recognition as an autonomous college in 1982.
          At present it is a government aided minority institution.
          <br><br>
          <h3><b><u>Mission of the college is to provide</u></b></h3>   
          <br><b style=color:blueviolet;font-family:cursive;>“a complete, meaningful and relevant education to women so that they are intellectually well-trained,morally upright, socially aware and spiritually inspired.”</b>
        </span> 
      </center> 

          <h1 style="color: crimson;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> <br><br>
            <center> Some Interesting facts </center>
            </h1><br>
            <span style="font-size:larger;font-weight:bolder;font-synthesis: style;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
            <center><p><b> Eleanor McDougall</b>,The First Principal of WCC.</p></center><br>
            <center><p>At present, a strength of WCC has grown over 4252 students and 209 members of faculty in the aided and self-financing sections.</p></center><br>
            <center><p>The College Motto is “Lighted to Lighten” and hence the appropriateness of the little earthenware Indian lamp.</p></center><br>
            <center><p>The Chapel, one of the most cherished buildings on campus and located at its geometric centre, was the generous and anonymous gift of an American friend, a lady who remains unknown to this day.</p></center><br>
            <center><p>India's first female political prisoner and freedom fighter<i><b>Rukmani Lakshmipathy</b></i> was a student of the first batch.</p></center><br>
        </center> </span>        
  
    <br><br>


    <h1 style="color: crimson;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> <br>
        <center> On Campus Placements </center>
        </h1><br> 
        <center><span style="font-size:larger;font-weight:bolder;font-synthesis: style;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <At WCC , students get the opportunity to get a job offer through our placement programmes and our students have managed to get placed in some of the top ranked companies in India.
The on-campus recruitment drives were organised by the placement coordinators. Our students have been offered jobs in various companies which range from Banks, IT Companies, ITES, KPOs to educational institutions. They have been recruited in various jobs in different levels in these organisations.<br>
<br><h2><u>Some  of the reputed companies that have visited our campus for recruitment since 2002.</u></h2><br><br></span></center><br><br>

<center><img src="img\amazon.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="img\zoho.png">&nbsp;&nbsp;&nbsp;&nbsp;<img src="img\IT.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="img\placements.png"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;<img src="img\deloit.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="img\sbank.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="img\infosy.png"></center><br><br>


<span style="font-size:larger;font-weight:bolder;font-synthesis: style;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2><b>Address :</b></h2>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Women’s Christian College<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#51, College Road, Chennai 600 006
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2><b>Phone :</b></h2>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Government – Aided Programmes</b><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 044 2827 5926<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Self-Financed Programmes</b><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 044 2823 1676
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2><b>Fax : </b></h2>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 044 2827 6798
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2><b>Email :</b></h2>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;info@wcc.edu.in
</span>
<br><br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.460240328241!2d80.24699541474138!3d13.06999199079136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52666e06185a7b%3A0x2ff1faae1df5aabb!2sWomen&#39;s%20Christian%20College!5e0!3m2!1sen!2sin!4v1680445161721!5m2!1sen!2sin" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


//chatbot
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi. My name is Wednesday. How can I help you?</p>
                </div>
            </div>
            <br>
            <p> Select an button according to your need</p>
            <center>
            <button class="resp_button" onclick="facility_resp()"><b>Facilities</b></button>
            <button class="resp_button" onclick="ug_resp()"><b>UG Courses</b></button>
            <button class="resp_button" onclick="pg_resp()"><b>PG Courses</b></button>
            </center>
            <div class="chatbox__messages">
                <div>
                </div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
                <button onclick="speech_text()"><i class="fa fa-microphone" aria-hidden="true"></i></button>
                <span id="action"></span>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="bot2.png" width="50px" height="50px" /></button>
        </div>
    </div>
</div>

    
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="home.js"></script>

</body>
</html>
